# Odoo 开发环境常见过滤规则
*.py[co]
*.so
*.egg-info/
*.swp
*~
.DS_Store

# Python 相关
__pycache__/
*.pyc
*.pyo
*.pyd

# Session/DB 文件
*.session
*.db
*.dat

# Logs
*.log
*.tlog

# Odoo 特定
/odoo-bin
/addons/odoo_fapiao/static/description/*.png
/addons/odoo_fapiao/static/description/index.html

# IDE 配置
.idea/
.vscode/